<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Form</title>
  </head>

  <body>
    <form action="/result" method="POST">
      <input type="text" id="name" name="name" />
      <input type="number" id="age" name="age" />
      <input type="submit" value="Submit Query" />
    </form>
  </body>
</html>
