body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: #1a1a1a;
  color: #aaa;
  font-family: "Yaldevi", sans-serif;
}

.container {
  padding: 10vw;
}

.white {
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
}

.inner-container {
  border-bottom: 0.5px solid #3e3e3e;
  padding-bottom: 20px;
}

.classes {
  padding-top: 20px;
}

ul,
ol {
  padding-inline-start: 18px;
}

il {
  text-transform: capitalize;
}

.feeling {
  width: 300px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inline {
  display: flex;
  flex-direction: column;
}

.inline img {
  padding-top: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.capital::first-letter {
  font-size: 2rem;
  line-height: 0.65;
}
