<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Shopping Cart</title>
  </head>
  <body>
    <% if (Object.keys(shoppingCart).length === 0) { %>
    <span> No items </span>
    <% } %> <% for(key in shoppingCart) {%>
    <span> <%= shoppingCart[key].name %> </span>
    <span> Quantity<b> <%= shoppingCart[key].quantity %> </b> </span>
    <span> USD<b> <%= shoppingCart[key].price %> </b> </span>
    <% } %>
  </body>
</html>
