<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Shop</title>
  </head>
  <body>
    <% for(product of products) {%>
    <div>
      <a href="<%= '/product/' + product.id %>">
        <img src="<%= product.image %>" alt="img" />
        <span> <%= product.name %> </span>
        <span> USD<b> <%= product.price %> </b> </span>
      </a>
    </div>
    <% } %>
  </body>
</html>
